{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" href="/css/jplayer.pink.flag.min.css" rel="stylesheet" />
{% endblock %}

{% block body -%}
    <h1>Call № {{ entity.id }}</h1>
    {# <div>
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div class="jp-controls-holder">
                        <div class="jp-controls">
                            <button class="jp-play" role="button" tabindex="0">play</button>
                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                        </div>
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                        <!-- <div class="jp-toggles">
                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="jp-details">
                    <div class="jp-title" aria-label="title">&nbsp;</div>
                </div> -->
                <div class="jp-no-solution">
                    <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
            </div>
        </div>
    </div> #}

    <audio controls>
        <source src="/audio/{{ entity.uniqueid|trim }}.ogg" type="audio/ogg">
    </audio>

    <table class="table table-bordered text-nowrap">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Calldate</th>
                <td>{{ entity.calldate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Uniqueid</th>
                <td><a href="{{ path('cel_show_by_uniqueid', { 'uniqueid': entity.uniqueid|trim }) }}">{{ entity.uniqueid }}</a></td>
            </tr>
            <tr>
                <th>Accountcode</th>
                <td>{{ entity.accountcode }}</td>
            </tr>
            <tr>
                <th>Src</th>
                <td>{{ entity.src }}</td>
            </tr>
            <tr>
                <th>Dst</th>
                <td>{{ entity.dst }}</td>
            </tr>
            <tr>
                <th>Dcontext</th>
                <td>{{ entity.dcontext }}</td>
            </tr>
            <tr>
                <th>Clid</th>
                <td>{{ entity.clid }}</td>
            </tr>
            <tr>
                <th>Channel</th>
                <td>{{ entity.channel }}</td>
            </tr>
            <tr>
                <th>Dstchannel</th>
                <td>{{ entity.dstchannel }}</td>
            </tr>
            <tr>
                <th>Lastapp</th>
                <td>{{ entity.lastapp }}</td>
            </tr>
            <tr>
                <th>Lastdata</th>
                <td>{{ entity.lastdata }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Billsec</th>
                <td>{{ entity.billsec }}</td>
            </tr>
            <tr>
                <th>Disposition</th>
                <td>{{ entity.disposition }}</td>
            </tr>
            <tr>
                <th>Amaflags</th>
                <td>{{ entity.amaflags }}</td>
            </tr>
            <tr>
                <th>Userfield</th>
                <td>{{ entity.userfield }}</td>
            </tr>
            <!-- <tr>
                <th>Audio</th>
                <td>
                    <audio controls>
                        <source src=/audio/{{ entity.uniqueid|trim }}.ogg type="audio/ogg">
                        No audio found.
                    </audio>
                </td>
            </tr> -->
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('cdr') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    title: "{{ entity.uniqueid|trim }}",
                    oga: "/audio/{{ entity.uniqueid|trim }}.ogg"
                });
            },
            cssSelectorAncestor: "#jp_container_1",
            swfPath: "/js",
            supplied: "oga",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });
    });
    </script>
{% endblock %}
